---

---

<footer
  class="py-4 px-4 border-t border-[var(--border-color)] text-center text-sm text-[var(--text-secondary)]"
>
  <div class="container mx-auto max-w-5xl flex justify-between items-center">
    <div>
      <a href="#" class="hover:text-white"> read if you cool </a>
      <span class="mx-2">•</span>
      <a href="#" class="hover:text-white"> source code </a>
      <span class="mx-2">•</span>
      <a href="https://vendicated.dev/" class="hover:text-white">
        if u see this, plz visit vee's site, he is awesome guy and one of my
        biggest inspirations
      </a>
    </div>
  </div>
</footer>
