---
import ThemeToggle from './ThemeToggle.astro';
---

<header class="py-4 px-4 border-b border-[var(--border-color)]">
  <div class="container mx-auto max-w-5xl flex justify-between items-center">
    <div></div>
    <nav class="flex items-center gap-4">
      <a href="/" class="hover:text-gray-300 transition-colors">
        Home
      </a>
      <a href="/about" class="hover:text-gray-300 transition-colors">
        About
      </a>
      <a href="/contact" class="hover:text-gray-300 transition-colors">
       Contact
      </a>
      <a href="/blog" class="hover:text-gray-300 transition-colors">
        Blog
      </a>
      <ThemeToggle />
    </nav>
  </div>
</header>
